

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.card{
    background:rgb(245, 247, 246);
    width: 260px;
    height: 410px;
    margin: 10px;  
}
.card-image{
    background-color: rgba(235, 255, 9, 0.947);
    height: 170px;
    margin-bottom: 15px;
}

.card a{
    background-color: chartreuse;
    display: block;
    color: tomato;
    text-align: center;
    padding: 11px;
    font-size: 18px;
    border-radius: 11px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;  
}

.card:hover{
   background-color: burlywood;
    color: beige;
    cursor: pointer;  
}

.Navbar{
    background: fixed;
    background-color: aqua;
    top: auto;
    left: auto;
    right: auto;
    z-index: auto;
    padding-block: 0.50px; 
    
     
}

.Navbar li{
   display: flex;
   display: inline-block;
   list-style-type: none;
   margin-right: 20px;
   block-size: auto;   
   font-size: 25px;  
   color: brown;
   
}
 .Navbar .uk li a:hover{
    color: red;
    cursor: pointer;
}
.Navbar .uk{
    font-size: 25px;
    margin-right: 15px;
    display: inline-block;

}

