<!DOCTYPE html>
<html>
<head>
<title>{% block title %} About Title {% endblock %}</title>
<link rel="stylesheet" href="../../static/shop/style.css">

</head>

<body>

    <nav class="Navbar">
        <ul class="uk">
            <li><a href="ShopHome">Home</a></li>
            <li><a href="productview">productview</a></li>
            <li><a href="tracker">Tracker</a></li>
            <li><a href="checkout">Checkout</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="about">About Us</a></li>
        </ul>
 
    </nav>
    {% block body %} {% endblock %}
  
